<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="sidebar">
    <div class="sidebar">

        <div class="sidebar-top">
            <div class="profile">
                <h2><span sec:authentication="name"></span></h2>

                <ul class="dropdown">
                    <li><a th:href="@{/add-account}">➕ Add Another Account</a></li>
                    <li><a th:href="@{/profile}">👤 Profile</a></li>
                    <li><a th:href="@{/new-workspace}">🆕 New Workspace</a></li>
                    <li><a th:href="@{/invite}">📨 Invite Members</a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar-menu">
            <ul class="menu">
                <li><a th:href="@{/dashboard}">🏠 Home</a></li>
                <li><a th:href="@{/reading}">📚 Reading List</a></li>
                <li><a th:href="@{/journals/new}">📝 New Page</a></li>
                <li><a th:href="@{/todos}">✅ To-do’s</a></li>
                <li><a th:href="@{/journals}">📖 Journals</a></li>
                <li><a th:href="@{/trash}">🗑️ Trash</a></li>
            </ul>
        </div>

        <div class="sidebar-bottom">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>
